<?php

if (!function_exists('getDBPass')) {
    function getDBPass()
    {
        $password = "Database Password";
        return $password;
    }
}
if (!function_exists('getDBUser')) {
    function getDBUser()
    {
        $password = "Databse Password";
        return $password;
    }
}

